{% extends "app_pagina/base.html" %}
{% load static %}

{% block title %}
F R N | Inicio
{% endblock %}

{% block content %}
<section class="page-section cta" id="mainNav" style="background-color: rgba(15, 40, 15, 0.65);">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded" id="mainNav" style="background-color: rgba(255, 255, 255, 0.65);">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Llegó el torneo por la gloria!!</span>
                        <span class="section-heading-lower fw-bold">Edición 2024</span>
                    </h2>
                    <p class="mb-0 fw-bold">¡Estás invitado a participar en el emocionante Torneo Copa Platino! 
                        Un evento exclusivo que reunirá a los mejores equipos en una competencia llena de acción, destreza y emoción. 
                        Si tu equipo tiene lo necesario para ganar, ¡no puedes dejar pasar esta oportunidad! Inscríbete ahora y demuestra tu talento en el campo de juego. 
                        La Copa Platino está esperando por ti, con premios increíbles y la gloria de ser el campeón. ¡Únete al torneo y haz historia!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock  %}